#weekHead {
  font-size: 32px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 50px;
}

table, tr, td{
	border: 1px solid black;
}

th {
  padding: 10px 10px 10px 10px;
}

#calendar{
  border: 1px solid black;
	padding: 10px 14px;
	background-color: #666;
  table-layout: fixed;
	border-radius: 25px;
  width: 80%;
  margin: auto;
}

.box{
  height: 1000px;
  overflow: hidden;
}

.days{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.item{
  width: 100%;
  height: 100%;
}

.event:hover
{
	 background-color: blue;
	 height: 100px;
	 width: 300px;
	 z-index:1;
	 position: absolute;
	 overflow: visible;
	 z-index: 3;
}

.event {
  border: 2px solid black;
    overflow: hidden;

 
}

.SUMMARY{
  font-weight:bold;
}

.day{
	height: 100%
}