.week {
  background-color: #123;
  width: 90%;
  height: 1000px;
  margin:0 auto;
}

#weekHead {
  font-size: 32px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 50px;
}

#monbox {
  color:#ffffff;
  position: absolute;
}
