#weekHead {
  font-size: 32px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 50px;
}
/*
.weekdays{
  background-color: #123;
  padding:10px 0;
  margin-left:auto;
  margin-right:auto;
  width:80%;
}

.weekdays div{
  overflow:scroll;
}

.weekdays li{
  border-right: thick solid #666;
  text-align:center;
  color:#ffffff;
  padding-left: 50px;
  padding-right: 50px;
  display:inline-block;
  width:5%;
  height:10%;

}*/


table{
    border: 1px solid black;
	padding: 10px 14px;
	background-color: #dddddd;
	width: 300px;
    /*border-collapse: collapse;*/
	border-radius: 25px;
}

table, tr, td{
	border: 1px solid black;
}

td:hover{
	background-color: blue;
}
/*
.poop
{
	border-bottom: 1px solid black;
	
	
}*/

.days
{
	text-align: center;
	
} 

#table
{	
	margin-left:auto;
  margin-right:auto;	
}
