body{
  font-family:sans-serif, Verdana, Arial;
  text-align: center;
  background-color: #e6ffff;
}

ul {
  font-family:sans-serif, Verdana, Arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
  background-color: #666;
}

li a {
  display:block;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:#4d4d4d;
}

li a:visited {
  color:#ffffff;
}

li {
  float:left;
}

.active{
  background-color:#ff6600;
}
