body {
	background-color: firebrick;
}
#popupLabs {
	background-color: white;
	position: absolute;
	left: 25%;
	top: 25%;
	width: 50%;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

table {
	margin: 0 auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

tr {
	height: 25px;
	border-bottom: 1px solid #ddd;
}
