#calHead {
  width: 80%;
  margin: auto;
  margin-top: 40px;
  padding-top: 3em;
  padding-bottom: 3em;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: "Nixie One",Arial,sans-serif;
  font-weight: normal;
}


#calHead > * {
  display:inline-block;
}

#weekHead {
  font-size: 2vw;
  color: grey;
}

#Prev {
  float:left;
}

#Next {
  float:right;
}

.weekBtn {
  padding: 5px;
  border: 1px solid transparent;
  border-radius:25px;
  text-align: center;
  width:100px;
  color:grey;
  font-size: 2vw;
  background-color: transparent;
  cursor: pointer;
}

.weekBtn:hover {
   color: black;
   transform: scale(1.5,1.5);
   transition: .3s all;
}

body {
  background-color: white;/*#f1f1f1;*/
}

th {
  color:grey;
  padding: 10px 10px 10px 20px;
  height: 0vh;
  font-family: "Nixie One",Arial,sans-serif;
  font-weight: normal;
  font-size: 1.2vw;
}

a {
  color: #3e0be5;
}

.time-group {
  font-size: 0.8vw;
  padding:0;
  margin: 0;
  display:flex;
  display: -webkit-flex;
  flex-direction: column;
  text-align: center;
}

.time-single {
  padding: 0;
  height: 3vh;
  border-top:  1px black dotted;
  border-collapse: collapse;
  color: grey;

}


/*Calendar table*/
#calendar{
  table-layout: fixed;
  width: 80%;
  margin: auto;
  height: 72vh;                      /*adjusts the calendar relative to the users viewport*/
  font-size: 1vw;                     /*adjusts the calendar texts relative to the users viewport*/
  text-align: center;
  margin-bottom: 40px;
  border: 1px grey frame;
  border-radius: 25px;
  text-align: center;
  background-color: #eee; /*#faf4ef;/*#e4e4e4;/*#f1f1f1;*/
  box-shadow: 3px 3px #888888;
  padding-right: 15px;
  padding-left: 15px;
  font-family: "Nixie One",Arial,sans-serif;
}

.day{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-weight: lighter;
  color: black;
  height: 72vh;
  margin-left: 10px;
  margin-right: 10px;
}

.event:hover {
  color: rgba(0, 0, 0, 1);
  box-shadow: 5px 5px #888888;
  transform: scale(1.1,1.1);
  /*font-size: 0.4em;*/
  transition: .2s all;
  z-index: 4;
}

.event {
  word-break: break-word;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  float: left;
  opacity: 0.7;
  border-radius: 5px;
  font-family: "Nixie One",Arial,sans-serif;
  color: rgba(0,0,0,1);
  /*outline: 2px groove black;*/
  }

.SUMMARY{
  font-weight:bold;
}

.KTH {
    background-color: #2476D2; /*blue*/
}

.Other {
  background-color: green; /*green*/
}

.event1 {
  background-color: #ff3333; /*red*/
}

.event2 {
  background-color: #b300b3; /*purple*/
}

.event3 {
  background-color: #ffb833; /*orange*/
}
