#formDiv {
	padding-top: 15px;
	margin: 0 auto;
	width: 50%;
	-moz-box-shadow: 0px 3px 8px rgb(100,100,100);
	-webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
	box-shadow: 0px 3px 8px rgb(100,100,100);
}
h1 {
	margin: 0px auto;
}
#formTable {
	margin: 0 auto;
	width: 80%;
	border-collapse: collapse;
}
input {
	border: 0px;
	border-bottom: 1px solid black;
	margin-top: 10px;
}
#courses {
	width: 100%;
	margin: 0 auto;
}
#shown {
	margin-top: 100px;
}
th {
	padding: 10px;
}
tr {
	border-bottom: 1px solid #eee;
}