.pSettings{
  background-color: grey;
  padding-top: 10px;
  width: 260px;
  height: 30px;
  display:block;
  border-top: 2px solid black;
  border-bottom:2px solid black;
}
.pSettings:hover{
  background-color: #ff33ff;
  cursor: pointer;
}
.menuS{
  width: 200px;
  background-color: lightgrey;
  padding-left: 40px;
  padding-right: 20px;
  padding-top:10px;
  padding-bottom:10px;
}
.menuS:hover{
  background-color: #ffccff;
  cursor: pointer;
}
.infobox{
  text-align: left;
  margin-left: 30px;
}
#settingBar{
  width: 200px;
  float: left;
}
#displaySettings{
  width: 50%;
  margin: 0px auto;
  padding: 5px;
  background-color: white;
  -moz-box-shadow: 0px 3px 8px rgb(100,100,100);
  -webkit-box-shadow: 0px 3px 8px rgb(100,100,100);
  box-shadow: 0px 3px 8px rgb(100,100,100);
}
#psettings{
  display: none;
}
#secsettings{
  display: none;
}
#datapolicy{
  display: none;
}
